.elementor-592 .elementor-element.elementor-element-954a877 {
  --display: flex;
  --gap: 0px 0px;
  --overflow: hidden;
  --background-transition: 0.3s;
  --padding-top: 120px;
  --padding-bottom: 90px;
  --padding-left: 0px;
  --padding-right: 0px;
  --z-index: 1;
}
.elementor-592
  .elementor-element.elementor-element-954a877:not(.elementor-motion-effects-element-type-background),
.elementor-592
  .elementor-element.elementor-element-954a877
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #efeae3;
}
.elementor-592 .elementor-element.elementor-element-954a877,
.elementor-592 .elementor-element.elementor-element-954a877::before {
  --border-transition: 0.3s;
}
.elementor-592 .elementor-element.elementor-element-bf481ce {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592
  .elementor-element.elementor-element-ecd6ed8
  .azzle-infinite-slider-data
  h3 {
  color: #000000;
  font-family: "DM Sans", Sans-serif;
  font-size: 120px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: -2px;
  padding: 15px 35px 15px 35px;
  margin: 0px 0px 0px 0px;
}
.elementor-592
  .elementor-element.elementor-element-ecd6ed8
  .azzle-infinite-slider-data
  i {
  color: var(--e-global-color-a5e79a7);
}
.elementor-592
  .elementor-element.elementor-element-ecd6ed8
  .azzle-infinite-slider-data
  path {
  fill: var(--e-global-color-a5e79a7);
}
.elementor-592 .elementor-element.elementor-element-a366b36 {
  width: auto;
  max-width: auto;
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
}
.elementor-592 .elementor-element.elementor-element-a366b36 img {
  width: 54%;
}
.elementor-592 .elementor-element.elementor-element-c99b138 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592
  .elementor-element.elementor-element-c99b138:not(.elementor-motion-effects-element-type-background),
.elementor-592
  .elementor-element.elementor-element-c99b138
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #efeae3;
}
.elementor-592 .elementor-element.elementor-element-c99b138,
.elementor-592 .elementor-element.elementor-element-c99b138::before {
  --border-transition: 0.3s;
}
.elementor-592 .elementor-element.elementor-element-3735292 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 12px;
  --padding-right: 12px;
}
.elementor-592 .elementor-element.elementor-element-59ee957 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 12px 12px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 0px 1px 0px;
  --border-top-width: 1px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #dbd6cf;
  --border-color: #dbd6cf;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 120px;
  --padding-bottom: 80px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592 .elementor-element.elementor-element-59ee957,
.elementor-592 .elementor-element.elementor-element-59ee957::before {
  --border-transition: 0.3s;
}
.elementor-592 .elementor-element.elementor-element-70d7d5f {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0%;
  --padding-bottom: 0%;
  --padding-left: 0%;
  --padding-right: 7%;
}
.elementor-592 .elementor-element.elementor-element-70d7d5f.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-592
  .elementor-element.elementor-element-d3dfb0b
  > .elementor-widget-container {
  padding: 0px 0px 30px 0px;
}
.elementor-592 .elementor-element.elementor-element-d3dfb0b {
  text-align: left;
}
.elementor-592 .elementor-element.elementor-element-d3dfb0b img {
  width: 40%;
}
.elementor-592
  .elementor-element.elementor-element-b5413f2
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
}
.elementor-592 .elementor-element.elementor-element-b5413f2 {
  color: #191919;
  font-family: "Inter", Sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-592
  .elementor-element.elementor-element-fbf8663
  .elementor-heading-title {
  color: #191919;
  font-family: "Inter", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-592 .elementor-element.elementor-element-095cfe8 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592 .elementor-element.elementor-element-095cfe8.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-592
  .elementor-element.elementor-element-71c34b0
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-592
  .elementor-element.elementor-element-71c34b0
  .elementor-heading-title {
  color: #000000;
  font-family: "Inter", Sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper {
  justify-content: flex-start;
  text-align: left;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item {
  justify-content: flex-start;
  text-align: left;
  margin: 0px 0px 20px 0px;
  align-items: flex-start;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  a {
  justify-content: flex-start;
  text-align: left;
}
.elementor-592 .elementor-element.elementor-element-7eec7c0 .mas-list-group {
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  span.mas-list-group-icon {
  margin-top: 0px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  i {
  font-size: 16px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  svg {
  height: 16px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  .mas-list-group-icon-image {
  width: 16px;
  height: 16px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  .mas-list-group-icon-image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon.yes {
  text-align: center;
}
.elementor-592
  .elementor-element.elementor-element-7eec7c0
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-text {
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  color: #191919;
}
.elementor-592 .elementor-element.elementor-element-5413c0b {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592
  .elementor-element.elementor-element-316fa03
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-592
  .elementor-element.elementor-element-316fa03
  .elementor-heading-title {
  color: #000000;
  font-family: "Inter", Sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper {
  justify-content: flex-start;
  text-align: left;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item {
  justify-content: flex-start;
  text-align: left;
  margin: 0px 0px 20px 0px;
  align-items: flex-start;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  a {
  justify-content: flex-start;
  text-align: left;
}
.elementor-592 .elementor-element.elementor-element-f375932 .mas-list-group {
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  span.mas-list-group-icon {
  margin-top: 0px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  i {
  font-size: 16px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  svg {
  height: 16px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  .mas-list-group-icon-image {
  width: 16px;
  height: 16px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon
  .mas-list-group-icon-image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-icon.yes {
  text-align: center;
}
.elementor-592
  .elementor-element.elementor-element-f375932
  .mas-list-group
  .mas-list-group-wrapper
  .mas-list-group-item
  .mas-list-group-text {
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  color: #191919;
}
.elementor-592 .elementor-element.elementor-element-c16fe20 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592
  .elementor-element.elementor-element-72d7608
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-592
  .elementor-element.elementor-element-72d7608
  .elementor-heading-title {
  color: #000000;
  font-family: "Inter", Sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.elementor-592 .elementor-element.elementor-element-ef329b2 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 25px;
  --grid-column-gap: 25px;
  --grid-row-gap: 0px;
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-widget-container {
  text-align: left;
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 0em;
  border-style: none;
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-social-icon
  i {
  color: #000000;
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-592 .elementor-element.elementor-element-ef329b2 .elementor-icon {
  border-radius: 1px 1px 1px 1px;
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-a5e79a7);
}
.elementor-592
  .elementor-element.elementor-element-ef329b2
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-a5e79a7);
}
.elementor-592 .elementor-element.elementor-element-9fb6a6d {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-592
  .elementor-element.elementor-element-ded8d80
  > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-592 .elementor-element.elementor-element-ded8d80 {
  text-align: center;
}
.elementor-592
  .elementor-element.elementor-element-ded8d80
  .elementor-heading-title {
  color: #191919;
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.elementor-592 .elementor-element.elementor-element-bac4b22 {
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .elementor-592 .elementor-element.elementor-element-954a877 {
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-592
    .elementor-element.elementor-element-ecd6ed8
    .azzle-infinite-slider-data
    h3 {
    font-size: 80px;
  }
  .elementor-592 .elementor-element.elementor-element-a366b36 img {
    width: 42%;
  }
  .elementor-592 .elementor-element.elementor-element-c99b138 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-592 .elementor-element.elementor-element-59ee957 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --flex-wrap: wrap;
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-592 .elementor-element.elementor-element-70d7d5f {
    --margin-top: 0px;
    --margin-bottom: 35px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-592 .elementor-element.elementor-element-b5413f2 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .elementor-592 .elementor-element.elementor-element-954a877 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-592
    .elementor-element.elementor-element-ecd6ed8
    .azzle-infinite-slider-data
    h3 {
    font-size: 48px;
  }
  .elementor-592 .elementor-element.elementor-element-a366b36 img {
    width: 46%;
  }
  .elementor-592 .elementor-element.elementor-element-c99b138 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-592 .elementor-element.elementor-element-3735292 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-592 .elementor-element.elementor-element-59ee957 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-592 .elementor-element.elementor-element-70d7d5f {
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 0%;
    --padding-right: 0%;
  }
  .elementor-592 .elementor-element.elementor-element-d3dfb0b img {
    width: 80%;
  }
  .elementor-592
    .elementor-element.elementor-element-b5413f2
    > .elementor-widget-container {
    margin: 0px 0px 25px 0px;
  }
  .elementor-592 .elementor-element.elementor-element-b5413f2 {
    font-size: 20px;
  }
  .elementor-592 .elementor-element.elementor-element-095cfe8 {
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-592 .elementor-element.elementor-element-5413c0b {
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-592 .elementor-element.elementor-element-70d7d5f {
    --width: 44%;
  }
  .elementor-592 .elementor-element.elementor-element-095cfe8 {
    --width: 16%;
  }
  .elementor-592 .elementor-element.elementor-element-5413c0b {
    --width: 64%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-592 .elementor-element.elementor-element-70d7d5f {
    --width: 100%;
  }
  .elementor-592 .elementor-element.elementor-element-095cfe8 {
    --width: 28%;
  }
  .elementor-592 .elementor-element.elementor-element-5413c0b {
    --width: 28%;
  }
  .elementor-592 .elementor-element.elementor-element-c16fe20 {
    --width: 40%;
  }
} /* Start custom CSS for heading, class: .elementor-element-fbf8663 */
.aimaas-footer a {
  color: #191919 !important;
} /* End custom CSS */
